<div class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-12 col-md-12">
      <div
        class="cartas marco pre-title animate__animated animate__fadeInUp animation-8"
      >
     
        <mat-toolbar color="primary">
         
          <span >Hard skills</span>
       
        </mat-toolbar>
        <div class="content">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex.xs="100%" fxFlex.sm="33%">
              <!---->
              <mat-card class="mat-elevation-z4">
                <mat-card-header style="padding-bottom: 20px">
                  <img src="assets/imagen1.jpeg" mat-card-avatar />
                  <mat-card-title style="color: black"
                    >Habildades técnicas</mat-card-title
                  >
                  <mat-card-subtitle>front-end</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/16.jpg" />
                <mat-card-content>
                  <p style="color: black; font-size: larger">
                    Soy un apasionado del diseño y la creación de experiencias digitales cautivadoras
                     a través del código. Con habilidades en HTML, CSS y JavaScript, junto con una profunda comprensión de los frameworks, me dedico a convertir ideas en interfaces interactivas y funcionales.
                  </p>
                </mat-card-content>

                <mat-card-footer style="padding-right: 40px">
                  <mat-card-actions>
                    <button
                      mat-icon-button
                      color="warn"
                      aria-label="Example icon button with a heart icon"
                    >
                      <mat-icon>favorite</mat-icon>
                    </button>
                  </mat-card-actions>
                </mat-card-footer>
              </mat-card>



              

              <br />
              <mat-card class="mat-elevation-z4">
                <mat-card-header style="padding-bottom: 20px">
                  <img src="assets/imagen1.jpeg" mat-card-avatar />
                  <mat-card-title style="color: black"
                    >Habildades técnicas</mat-card-title
                  >
                  <mat-card-subtitle>front-end</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/angular.png" />
                <mat-card-content>
                  <p style="color: black; font-size: larger">
                  Soy un desarrollador que le interesa mucho el framework de Angular. Me apasiona construir aplicaciones web modernas y dinámicas utilizando esta poderosa framework.
Con un sólido conocimiento de TypeScript, HTML y CSS, utilizo Angular para crear interfaces de usuario atractivas y funcionales. Mi experiencia abarca desde la creación de componentes y módulos hasta el enrutamiento y la gestión de formularios. Utilizo Angular CLI para facilitar el proceso de desarrollo y aprovecho al máximo las características y capacidades del framework.
                  </p>
                </mat-card-content>

                <mat-card-footer style="padding-right: 40px">
                  <mat-card-actions>
                    <button
                      mat-icon-button
                      color="warn"
                      aria-label="Example icon button with a heart icon"
                    >
                      <mat-icon>favorite</mat-icon>
                    </button>
                  </mat-card-actions>
                </mat-card-footer>
              </mat-card>
<br>
            


              <mat-card class="mat-elevation-z4">
                <mat-card-header style="padding-bottom: 20px">
                  <img src="assets/imagen1.jpeg" mat-card-avatar />
                  <mat-card-title style="color: black"
                    >Habildades técnicas</mat-card-title
                  >
                  <mat-card-subtitle>Back-end</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/17.jpg" />
                <mat-card-content>
                  <p style="color: black; font-size: larger">
                    Mi perfil de desarrollo backend se basa en la creación de soluciones robustas y eficientes utilizando lenguajes de programación como Java y C#. Estoy familiarizado con los frameworks de Spring Boot y .NET, respectivamente, y los utilizo para desarrollar aplicaciones escalables y de alto rendimiento.
                  </p>
                </mat-card-content>

                <mat-card-footer style="padding-right: 40px">
                  <mat-card-actions>
                    <button
                      mat-icon-button
                      color="warn"
                      aria-label="Example icon button with a heart icon"
                    >
                      <mat-icon>favorite</mat-icon>
                    </button>
                  </mat-card-actions>
                </mat-card-footer>
              </mat-card>



              <mat-card class="mat-elevation-z4">
                <mat-card-header style="padding-bottom: 20px">
                  <img src="assets/imagen1.jpeg" mat-card-avatar />
                  <mat-card-title style="color: black"
                    >Habildades técnicas</mat-card-title
                  >
                  <mat-card-subtitle>Back-end</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/net.jpg" />
                <mat-card-content>
                  <p style="color: black; font-size: larger">
                    Soy un desarrollador con experiencia laboral en el entorno .NET. Me gusta construir aplicaciones sólidas y escalables utilizando el framework de .NET y sus tecnologías asociadas.
                </mat-card-content>

                <mat-card-footer style="padding-right: 40px">
                  <mat-card-actions>
                    <button
                      mat-icon-button
                      color="warn"
                      aria-label="Example icon button with a heart icon"
                    >
                      <mat-icon>favorite</mat-icon>
                    </button>
                  </mat-card-actions>
                </mat-card-footer>
              </mat-card>



              <mat-card class="mat-elevation-z4">
                <mat-card-header style="padding-bottom: 20px">
                  <img src="assets/imagen1.jpeg" mat-card-avatar />
                  <mat-card-title style="color: black"
                    >Habildades técnicas</mat-card-title
                  >
                  <mat-card-subtitle>Back-end</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/sb.jpg" />
                <mat-card-content>
                  <p style="color: black; font-size: larger">
                    Soy un desarrollador con experiencia en aplicaciones web utilizando el framework de Spring Boot.                  </p>
                </mat-card-content>

                <mat-card-footer style="padding-right: 40px">
                  <mat-card-actions>
                    <button
                      mat-icon-button
                      color="warn"
                      aria-label="Example icon button with a heart icon"
                    >
                      <mat-icon>favorite</mat-icon>
                    </button>
                  </mat-card-actions>
                </mat-card-footer>
              </mat-card>


              
              <mat-card class="mat-elevation-z4">
                <mat-card-header style="padding-bottom: 20px">
                  <img src="assets/imagen1.jpeg" mat-card-avatar />
                  <mat-card-title style="color: black"
                    >Habildades técnicas</mat-card-title
                  >
                  <mat-card-subtitle>Back-end</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/express.png" />
                <mat-card-content>
                  <p style="color: black; font-size: larger">
                    Poseo conocimientos básicos en Express. Lo he utilizado para desarrollar aplicaciones web de manera eficiente.</mat-card-content>
                    <mat-card-footer style="padding-right: 40px">
                      <mat-card-actions>
                        <button
                          mat-icon-button
                          color="warn"
                          aria-label="Example icon button with a heart icon"
                        >
                          <mat-icon>favorite</mat-icon>
                        </button>
                      </mat-card-actions>
                    </mat-card-footer>
              </mat-card>


                  
              <mat-card class="mat-elevation-z4">
                <mat-card-header style="padding-bottom: 20px">
                  <img src="assets/imagen1.jpeg" mat-card-avatar />
                  <mat-card-title style="color: black"
                    >Habildades técnicas</mat-card-title
                  >
                  <mat-card-subtitle>Base de datos</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/sql.jpg" />
                <mat-card-content>
                  <p style="color: black; font-size: larger">
                    Tengo un amplio dominio de SQL Server, un sistema de gestión de bases de datos relacional líder en la industria. A lo largo de mi trayectoria, he trabajado extensamente con SQL Server para diseñar, desarrollar y administrar bases de datos. Tengo experiencia en la creación y optimización de consultas SQL complejas, la implementación de procedimientos almacenados. 
                  </mat-card-content>
                    <mat-card-footer style="padding-right: 40px">
                  <mat-card-actions>
                    <button
                      mat-icon-button
                      color="warn"
                      aria-label="Example icon button with a heart icon"
                    >
                      <mat-icon>favorite</mat-icon>
                    </button>
                  </mat-card-actions>
                </mat-card-footer>
              </mat-card>



              <mat-card class="mat-elevation-z4">
                <mat-card-header style="padding-bottom: 20px">
                  <img src="assets/imagen1.jpeg" mat-card-avatar />
                  <mat-card-title style="color: black"
                    >Habildades técnicas</mat-card-title
                  >
                  <mat-card-subtitle>Base de datos</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/mysql.jpg" />
                <mat-card-content>
                  <p style="color: black; font-size: larger">
                    Cuento con conocimientos básicos en MySQL, un sistema de gestión de bases de datos relacional ampliamente utilizado. A través de mi experiencia, he trabajado con MySQL para diseñar y administrar bases de datos eficientes.                 </mat-card-content>
                    <mat-card-footer style="padding-right: 40px">
                  <mat-card-actions>
                    <button
                      mat-icon-button
                      color="warn"
                      aria-label="Example icon button with a heart icon"
                    >
                      <mat-icon>favorite</mat-icon>
                    </button>
                  </mat-card-actions>
                </mat-card-footer>
              </mat-card>



              <mat-toolbar color="primary">
                <span>Soft skills</span>
              </mat-toolbar>

              <mat-card class="mat-elevation-z4">
                <mat-card-header style="padding-bottom: 20px">
                  <img src="assets/imagen1.jpeg" mat-card-avatar />
                  <mat-card-title style="color: black"
                    >Habildades blandas</mat-card-title
                  >
                  <mat-card-subtitle>Acerca de mi</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/18.jpg" />

                <mat-card-content>
                  <p style="color: black; font-size: larger">
                    Soy una persona proactiva, que le gusta trabajar en equipo y proponer mis ideas para solventar el problema sobre el cual estamos trabajando. Además, una persona muy responsable y honesta.
                  </p>
                </mat-card-content>

                <mat-card-footer style="padding-right: 40px">
                  <mat-card-actions>
                    <button
                      mat-icon-button
                      color="warn"
                      aria-label="Example icon button with a heart icon"
                    >
                      <mat-icon>favorite</mat-icon>
                    </button>
                  </mat-card-actions>
                </mat-card-footer>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
