<div class="wrapper">
 
    <h1  class="sub-title  animate__animated animate__fadeInUp animation-8 typed-elementMy" style="text-align: center;"></h1>
    
    <h2  class="sub-title  animate__animated animate__fadeInUp animation-8 typed-element" style="text-align: center;"></h2>
    <p class="description  animate__animated animate__fadeInUp animation-6" style="text-align: center;">
      Me apasionan las tecnologías web, también soy estudiante de la carrera 
      <a href="https://paraiso.ucr.ac.cr/informaticaempresarial" target="_blank" style="color: rgba(0, 0, 0, 0.5490196078);text-decoration: none;">Informatica empresarial</a> de la UCR. Me encantan los proyectos
      retadores para aprender cada vez mas en esta pasion que es el desarrollo web.
    </p>
   </div>
  
  
 
  