<header class="masthead"><div class="container">


<div class="wrapper">
 
    <h1  class="sub-title  animate__animated animate__fadeInUp animation-8 typed-elementMy" style="text-align: center;"></h1>
    
    <h2  class="sub-title  animate__animated animate__fadeInUp animation-8 typed-element" style="text-align: center;"></h2>
    <p class="description  animate__animated animate__fadeInUp animation-6" style="text-align: center;">
        Software Developer con más de un año de experiencia, apasionado por abordar proyectos desafiantes y en constante aprendizaje en el emocionante mundo del desarrollo . Siempre buscando mejorar y enfrentar nuevos retos.    </p></div>
   </div>
  </header>
  
 
  