<header class="masthead"><div class="container">


<div class="wrapper">
 
    <h1  class="sub-title  animate__animated animate__fadeInUp animation-8 typed-elementMy" style="text-align: center;"></h1>
    
    <h2  class="sub-title  animate__animated animate__fadeInUp animation-8 typed-element" style="text-align: center;"></h2>
    <p class="description  animate__animated animate__fadeInUp animation-6" style="text-align: center;">
     Y soy un apasionado de las tecnologías web. Me encanta enfrentar proyectos retadores y aprender cada vez más en este apasionante mundo del desarrollo web.
    </p></div>
   </div>
  </header>
  
 
  