<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
 
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="assets/imagen11.jpg"
    />
    <h4 class="name">Jafeth Matamoros</h4>
    <p class="designation">Software developer</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/">
      <mat-icon style="color: aliceblue;">home</mat-icon>
      <span style="color: aliceblue;">Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="/habilidades">
      <mat-icon style="color: aliceblue;">person</mat-icon>
      <span style="color: aliceblue;">Habilidades</span>
    </button>
    <button mat-button class="menu-button" routerLink="/proyectos">
      <mat-icon style="color: aliceblue;">work</mat-icon>
      <span style="color: aliceblue;">Proyectos</span>
    </button>

    <button mat-button class="menu-button" routerLink="/educacion">
      <mat-icon style="color: aliceblue;">school</mat-icon>
      <span style="color: aliceblue;">Educación</span>
    </button>

    <mat-divider></mat-divider>
<p>Contacto</p>

<a  href="mailto:jafeth1352001@gmail.com" target="_blank">
    <button mat-button class="menu-button">
      <i style="color: aliceblue;"class="uil uil-envelope"></i>
      
      <span style="color: aliceblue;">Gmail</span>
    </button>
    </a>
    <a  href="https://github.com/Jafeth13" target="_blank">
    <button mat-button class="menu-button">
      <i style="color: aliceblue;" class="uil uil-github-alt"></i>
      <span style="color: aliceblue;">Github</span>
    </button>
  </a>
  <a href="https://www.linkedin.com/in/jafeth-matamoros-cordero-b3738b198/">
    <button mat-button class="menu-button" >
      <i style="color: aliceblue;" class="uil-linkedin"></i>
      <span style="color: aliceblue;">Linkedin</span>
    </button>
  </a>

  
  <a href="assets/JafethCV.pdf">
    <button mat-button class="menu-button">
      <i style="color: aliceblue;" class="uil-file-download"></i>
      <span style="color: aliceblue;">CV</span>
    </button>
  </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <app-menu></app-menu>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<app-footer></app-footer>