<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
 
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="assets/imagen11.jpg"
    />
    <h4 class="name">Jafeth Matamoros</h4>
    <p class="designation">Desarrollador web</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="/habilidades">
      <mat-icon>person</mat-icon>
      <span>Datos</span>
    </button>
    <button mat-button class="menu-button" routerLink="/proyectos">
      <mat-icon>work</mat-icon>
      <span>Proyectos</span>
    </button>

    <mat-divider></mat-divider>
<p>Contacto</p>

<a  href="mailto:jafeth1352001@gmail.com" target="_blank">
    <button mat-button class="menu-button">
      <i class="uil uil-envelope"></i>
      
      <span>Gmail</span>
    </button>
    </a>
    <a  href="https://github.com/Jafeth13" target="_blank">
    <button mat-button class="menu-button">
      <i class="uil uil-github-alt"></i>
      <span>Github</span>
    </button>
  </a>
  <a href="https://www.linkedin.com/in/jafeth-matamoros-cordero-b3738b198/">
    <button mat-button class="menu-button" >
      <i class="uil-linkedin"></i>
      <span>Linkedin</span>
    </button>
  </a>

  
  <a href="assets/JafethCV.pdf">
    <button mat-button class="menu-button">
      <i class="uil-file-download"></i>
      <span >CV</span>
    </button>
  </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <app-menu></app-menu>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<app-footer></app-footer>