<div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-12 col-md-12">
        <div
          class="cartas marco pre-title animate__animated animate__fadeInUp animation-8"
        >
       
          <mat-toolbar color="primary">
           
            <span >Educación</span>
         
          </mat-toolbar>
          <div class="content">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
              <div fxFlex.xs="100%" fxFlex.sm="33%">
                <!---->
                <mat-card class="mat-elevation-z4">
                  <mat-card-header style="padding-bottom: 20px">
                    <img src="assets/imagen1.jpeg" mat-card-avatar />
                    <mat-card-title style="color: black"
                      >Universidad</mat-card-title
                    >
                    <mat-card-subtitle>Informática</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="assets/ucr.png" />
                  <mat-card-content>
                    <p style="color: black; font-size: larger">
                        Soy egresado de Informática Empresarial y me apasiona el mundo del desarrollo web y las bases de datos. Durante mi carrera, he adquirido un sólido conocimiento en informática y he desarrollado habilidades destacadas en estos dos campos.
                    </p>
                  </mat-card-content>
  
                  <mat-card-footer style="padding-right: 40px">
                    <mat-card-actions>
                      <button
                        mat-icon-button
                        color="warn"
                        aria-label="Example icon button with a heart icon"
                      >
                        <mat-icon>favorite</mat-icon>
                      </button>
                    </mat-card-actions>
                  </mat-card-footer>
                </mat-card>
  
                <br />
                <mat-card class="mat-elevation-z4">
                  <mat-card-header style="padding-bottom: 20px">
                    <img src="assets/imagen1.jpeg" mat-card-avatar />
                    <mat-card-title style="color: black"
                      >Educación Técnica</mat-card-title
                    >
                    <mat-card-subtitle>Electrónica</mat-card-subtitle>
                  </mat-card-header>
    
                  <mat-card-content>
                    <p style="color: black; font-size: larger">
                        Soy  técnico en electrónica industrial. Mi enfoque principal es brindar servicios de mantenimiento y reparación de equipos electrónicos.                    </p>
                  </mat-card-content>
  
                  <mat-card-footer style="padding-right: 40px">
                    <mat-card-actions>
                      <button
                        mat-icon-button
                        color="warn"
                        aria-label="Example icon button with a heart icon"
                      >
                        <mat-icon>favorite</mat-icon>
                      </button>
                    </mat-card-actions>
                  </mat-card-footer>
                </mat-card>
  
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  